Script/Flow from Bluemix.json
[{"id":"d1b04656.fb23e8","type":"tab","label":"NR2PI","disabled":false,"info":""},{"id":"fe5344c8.0df278","type":"ibmiot in","z":"d1b04656.fb23e8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb000c29685d54","applicationId":"","deviceType":"senseHat","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":420,"y":300,"wires":[["889123e.14ef5e","be91a002.4c745","b6aff20d.36f71","2242e835.689198"]]},{"id":"889123e.14ef5e","type":"debug","z":"d1b04656.fb23e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":300,"wires":[]},{"id":"9b2d0499.8a3608","type":"inject","z":"d1b04656.fb23e8","name":"Normal","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":410,"y":500,"wires":[["8f35507a.ec306"]]},{"id":"b843ce52.93ab7","type":"inject","z":"d1b04656.fb23e8","name":"Alert","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Alert","payloadType":"str","x":410,"y":600,"wires":[["8f35507a.ec306"]]},{"id":"8f35507a.ec306","type":"function","z":"d1b04656.fb23e8","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":560,"wires":[["5c1c7120.e366d"]]},{"id":"5c1c7120.e366d","type":"json","z":"d1b04656.fb23e8","name":"","property":"payload","action":"","pretty":false,"x":860,"y":560,"wires":[[]]},{"id":"d2be624.f510ea","type":"ibmiot out","z":"d1b04656.fb23e8","d":true,"authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"000c29685d4a","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1030,"y":560,"wires":[]},{"id":"ceffa525.8a47f8","type":"ui_button","z":"d1b04656.fb23e8","name":"","group":"22323962.14e9a6","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":590,"y":340,"wires":[[]]},{"id":"2242e835.689198","type":"function","z":"d1b04656.fb23e8","name":"Tekanan","func":"msg.payload = msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":260,"wires":[["b369f17b.360b"]]},{"id":"b6aff20d.36f71","type":"function","z":"d1b04656.fb23e8","name":"Kelembapan","func":"msg.payload = msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":220,"wires":[["6869a1eb.2f1"]]},{"id":"be91a002.4c745","type":"function","z":"d1b04656.fb23e8","name":"Suhu","func":"msg.payload = msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":180,"wires":[["63ee2da9.24c4a4"]]},{"id":"63ee2da9.24c4a4","type":"ui_gauge","z":"d1b04656.fb23e8","name":"suhu","group":"22323962.14e9a6","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":180,"wires":[]},{"id":"6869a1eb.2f1","type":"ui_gauge","z":"d1b04656.fb23e8","name":"kelembapan","group":"22323962.14e9a6","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":220,"wires":[]},{"id":"b369f17b.360b","type":"ui_gauge","z":"d1b04656.fb23e8","name":"tekanan","group":"22323962.14e9a6","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":260,"wires":[]},{"id":"f70faebd.b51c7","type":"ibmiot in","z":"d1b04656.fb23e8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb000c29685d4a","applicationId":"","deviceType":"senseHat","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":410,"y":400,"wires":[["1b87bc80.be41a4"]]},{"id":"1b87bc80.be41a4","type":"debug","z":"d1b04656.fb23e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":400,"wires":[]},{"id":"22323962.14e9a6","type":"ui_group","z":"","name":"Default","tab":"313c80ab.c8328","order":1,"disp":true,"width":"6","collapse":false},{"id":"313c80ab.c8328","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false}]