Script/flows from PI.json
[{"id":"30706aca.0d75e6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2eff4c58.1b5934","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5a0a6f9f.e59a8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"66ea1656.24c588","type":"wiotp-credentials","z":"","name":"000c29685d4a","org":"yvxdi7","serverName":"","devType":"raspberrypi","devId":"000c29685d4a","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"aced93c7.617bc","type":"wiotp-credentials","z":"","name":"000c29685d54","org":"yvxdi7","serverName":"","devType":"raspberrypiGW","devId":"000c29685d54","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"1629fbd4.7b4134","type":"inject","z":"30706aca.0d75e6","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":220,"wires":[["9826a818.f88918"]]},{"id":"35eb20f6.ca677","type":"wiotp out","z":"30706aca.0d75e6","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"66ea1656.24c588","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":550,"y":300,"wires":[]},{"id":"b584b7b0.031388","type":"function","z":"30706aca.0d75e6","name":"","func":"msg.payload = {'d' : {'random' : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["35eb20f6.ca677","59d43c80.95c594"]]},{"id":"9826a818.f88918","type":"random","z":"30706aca.0d75e6","name":"","low":"1","high":"10","inte":"true","property":"payload","x":260,"y":220,"wires":[["b584b7b0.031388"]]},{"id":"59d43c80.95c594","type":"debug","z":"30706aca.0d75e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":220,"wires":[]},{"id":"19b09d4f.42b063","type":"wiotp in","z":"2eff4c58.1b5934","authType":"d","deviceKey":"66ea1656.24c588","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":160,"y":200,"wires":[["6ad681e2.5c909"]]},{"id":"6ad681e2.5c909","type":"debug","z":"2eff4c58.1b5934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":200,"wires":[]},{"id":"69fe1993.bf97d8","type":"rpi-sensehatsim in","z":"5a0a6f9f.e59a8","name":"","motion":false,"env":true,"stick":false,"x":80,"y":140,"wires":[["eae940b8.e268a"]]},{"id":"eae940b8.e268a","type":"delay","z":"5a0a6f9f.e59a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":140,"wires":[["8e57481b.5201e8"]]},{"id":"8e57481b.5201e8","type":"function","z":"5a0a6f9f.e59a8","name":"","func":"msg.payload = {\"Data\" : {\"Environment\" : msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId = \"senb000c29685d54\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["e40a251a.7a17e8","d6216725.9e1438"]]},{"id":"e40a251a.7a17e8","type":"debug","z":"5a0a6f9f.e59a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":60,"wires":[]},{"id":"d6216725.9e1438","type":"wiotp out","z":"5a0a6f9f.e59a8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"aced93c7.617bc","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"IoT","x":450,"y":240,"wires":[]}]